<h4 style='text-align: center' id="dayTag">Day 1</h4>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <div class="btn-group" role="group" id="dayList">
      <button type="button" class="btn btn-default">1</button>
      <button type="button" class="btn btn-default" id="plusButton">+</button>
    </div>
  </div>


  <div class='panel-body'>
    <h4> My Hotel</h4>
    <ul id="hotels">
    </ul>

    <h4> My Restaurants</h4>
    <ul id="restaurants">
    </ul>

    <h4> My Activities</h4>
    <ul id="activities">
    </ul>

  </div>
</div>
